<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/addcourse.css">
        <script type="module" src="/js/headernav.js"></script>
        <title>Lägg till kurs</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-list">
                    <li><a href="/startpage">Mina kurser</a></li>
                    <li><a href="/addcourse">Lägg till kurs</a></li>
                </ul>
            </nav>
        </header>
        <main class="addcourse-main">
            <h1>Lägg till kurs</h1>
        
            <% if( locals.errors && errors.length > 0 ) { %>
                <ul class="errors">
                    <% errors.forEach((error) => { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            <% } %>
            
            <form class="addcourse-form" action="/addcourse" method="post">

                <div class="input-label-container">
                    <label for="courseCode">Kurskod</label>
                    <input type="text" id="courseCode" name="courseCode" value="<%= newCourseCode %>">    
                </div>
                <div class="input-label-container">
                    <label for="courseName">Kursnamn</label>
                    <input type="text" id="courseName" name="courseName" value="<%= newCourseName %>">
                </div>                
                <div class="input-label-container">
                    <label for="syllabus">Syllabus</label>
                    <input type="text" id="syllabus" name="syllabus" value="<%= newSyllabus %>">
                </div>                
                <div class="input-label-container">
                    <label for="progression">Progression (A eller B)</label>
                    <input type="text" id="progression" name="progression" value="<%= newProgression %>">
                </div>                
                <button class="addcourse-button" type="submit">Lägg till</button>
            </form>
    
        </main>
        <footer>
            <ul class="footer-list">
                <li>VT2025 DT207G</li>
                <li>Backend-baserad webbutveckling</li>
            </ul>
        </footer>
    </body>
</html>